/Server/database/data
/Server/logs
/Server/logs/nginx/access.log
/Server/logs/nginx/error.log
/Server/raspberry-test/
.env
/Server/nginx/SSH_KEYS/reverse_ssh_key
/Server/nginx/SSH_KEYS/reverse_ssh_key.pub

Server/private-airnet/authorized_keys
Server/nginx/reverse_ssh_key.pub
Server/nginx/reverse_ssh_key
.$architecture.drawio.bkp
