body {
    font-family: "Rubik";
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  h1 {
    text-align: center;
    color: #333;
  }
  .raspberry-pi {
    background: #fff;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .raspberry-pi h2 {
    margin: 0;
    color: #555;
  }
  .raspberry-pi p {
    margin: 5px 0;
    color: #777;
  }