<div class="container">
  <div class="titleSuperDiv">
    <div class="titleDiv">
      <img src="assets/rasp.png" alt="pi Logo" class="square-img" />
      <h1 class="mainTitle">Raspberry Pi Orchard</h1>
    </div>
  </div>
  <div class="tableDiv">
    <table matSort (matSortChange)="sortData($event)">
      <tr class="tableHeader">
        <th mat-sort-header="id">ID</th>
        <th mat-sort-header="macAddress">MAC Address</th>
        <th mat-sort-header="port">Port</th>
        <!-- <th mat-sort-header="CPU">CPU</th>
        <th mat-sort-header="RAM">RAM</th>
        <th mat-sort-header="Storage">Storage</th> -->
        <th mat-sort-header="lastPing">Last Ping</th>
      </tr>
      @for (pi of sortedData; track pi) {
      <tr class="piList">
        <td class="cell">{{ pi.id }}</td>
        <td class="cell">{{ pi.macAddress }}</td>
        <td class="cell">{{ pi.port }}</td>
        <!-- <td class="cell" [ngStyle]="{'background-color': getColor(pi.CPU, 100)}">{{ pi.CPU }}%</td>
        <td class="cell" [ngStyle]="{'background-color': getColor(pi.RAM, 2000)}">{{ pi.RAM }} Mo</td>
        <td class="cell" [ngStyle]="{'background-color': getColor(pi.Storage, 50)}">{{ pi.Storage }} Go</td> -->
        <td class="cell">{{ pi.lastPing }}</td>
      </tr>
      }
      <!-- Add more Raspberry Pi stats as needed -->
    </table>
  </div>
</div>
