.square-img {
  width: 100px;
  height: 130px;
  padding: 5px;
  border: 0.2em;
  border-style: groove;
  border-radius: 10%;
  margin: 2em;
  transition: transform 0.7s ease-in-out;
}

.square-img:hover {
  transform: rotate(360deg);
}

.titleSuperDiv {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.titleDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: outset;
  border-radius: 10%;
  border-width: 1em;
}

.mainTitle {
  font-size: 4em;
  font-style: bold;
  margin-right: 0.6em;
}

.tableHeader {
  font-size: 1.6em;
  font-style: bold;
}

.tableDiv {
  display: flex;
  padding: 2em;
  font-size: 1.1em;
  justify-content: center;
}

.divider {
  border-bottom: 1px solid black;
  margin: 1em;
  width: 20em;
}

.piList:nth-child(even) {
  background-color: #8fafdda4;
}

.piList:nth-child(odd) {
  background-color: #c4d0e2a4;
}

.tableHeader {
  background-color: #4781d3a4;
}
.tableHeader mat-sort-header-container {
  justify-content: center;
  margin: 0 0 0 0.4em;
}

body {
  font-family: "Rubik";
  margin: 0;
  padding: 0;
  background-color: #c7c7c7;
}

td {
  padding: 0.5em;
}

.cell {
  justify-content: center;
}

th {
  justify-content: center;
  padding: 0.2em;
}
body {
  background-color: #cccccc;
}
